In [1]:
import pandas as pd
df = pd.read_csv('titanic.csv')
df.head()

,PassengerId,Name,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,1,"Braund, Mr. Owen Harris",3,male,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,"Heikkinen, Miss. Laina",3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1
3,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,female,35.0,1,0,113803,53.1000,C123,S,1
4,5,"Allen, Mr. William Henry",3,male,35.0,0,0,373450,8.0500,NaN,S,0

In [3]:
df.drop(['PassengerId','Name','SibSp','Parch','Ticket','Cabin','Embarked'],axis='columns',inplace=True)
df

     Pclass     Sex   Age     Fare  Survived
0         3    male  22.0   7.2500         0
1         1  female  38.0  71.2833         1
2         3  female  26.0   7.9250         1
3         1  female  35.0  53.1000         1
4         3    male  35.0   8.0500         0
..      ...     ...   ...      ...       ...
886       2    male  27.0  13.0000         0
887       1  female  19.0  30.0000         1
888       3  female   NaN  23.4500         0
889       1    male  26.0  30.0000         1
890       3    male  32.0   7.7500         0

[891 rows x 5 columns]

In [5]:
targets=df.Survived
inputs=df.drop(['Survived'],axis='columns')

In [7]:
dummies=pd.get_dummies(df.Sex)
dummies

     female   male
0     False   True
1      True  False
2      True  False
3      True  False
4     False   True
..      ...    ...
886   False   True
887    True  False
888    True  False
889   False   True
890   False   True

[891 rows x 2 columns]

In [9]:
dummies.replace({False: 0, True: 1}, inplace=True)
dummies

C:\Users\alifa\AppData\Local\Temp\ipykernel_2256\1424800878.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  dummies.replace({False: 0, True: 1}, inplace=True)

     female  male
0         0     1
1         1     0
2         1     0
3         1     0
4         0     1
..      ...   ...
886       0     1
887       1     0
888       1     0
889       0     1
890       0     1

[891 rows x 2 columns]

In [11]:
inputs=pd.concat([inputs,dummies],axis='columns')
inputs

     Pclass     Sex   Age     Fare  female  male
0         3    male  22.0   7.2500       0     1
1         1  female  38.0  71.2833       1     0
2         3  female  26.0   7.9250       1     0
3         1  female  35.0  53.1000       1     0
4         3    male  35.0   8.0500       0     1
..      ...     ...   ...      ...     ...   ...
886       2    male  27.0  13.0000       0     1
887       1  female  19.0  30.0000       1     0
888       3  female   NaN  23.4500       1     0
889       1    male  26.0  30.0000       0     1
890       3    male  32.0   7.7500       0     1

[891 rows x 6 columns]

In [13]:
inputs.drop(['Sex'],axis='columns',inplace=True)
inputs

     Pclass   Age     Fare  female  male
0         3  22.0   7.2500       0     1
1         1  38.0  71.2833       1     0
2         3  26.0   7.9250       1     0
3         1  35.0  53.1000       1     0
4         3  35.0   8.0500       0     1
..      ...   ...      ...     ...   ...
886       2  27.0  13.0000       0     1
887       1  19.0  30.0000       1     0
888       3   NaN  23.4500       1     0
889       1  26.0  30.0000       0     1
890       3  32.0   7.7500       0     1

[891 rows x 5 columns]

In [15]:
inputs.columns[inputs.isna().any()]

Index(['Age'], dtype='object')

In [17]:
inputs.Age[:10]

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
5     NaN
6    54.0
7     2.0
8    27.0
9    14.0
Name: Age, dtype: float64

In [19]:
inputs.Age=inputs.Age.fillna(inputs.Age.mean())
inputs.Age[:10]

0    22.000000
1    38.000000
2    26.000000
3    35.000000
4    35.000000
5    29.699118
6    54.000000
7     2.000000
8    27.000000
9    14.000000
Name: Age, dtype: float64

In [21]:
inputs.head(6)

   Pclass        Age     Fare  female  male
0       3  22.000000   7.2500       0     1
1       1  38.000000  71.2833       1     0
2       3  26.000000   7.9250       1     0
3       1  35.000000  53.1000       1     0
4       3  35.000000   8.0500       0     1
5       3  29.699118   8.4583       0     1

In [23]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(inputs,targets,test_size=0.2)

In [25]:
len(X_train)

712

In [27]:
len(X_test)

179

In [29]:
len(inputs)

891

In [31]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()

In [33]:
model.fit(X_train,y_train)

GaussianNB()

In [35]:
model.score(X_test,y_test)

0.7541899441340782

In [37]:
X_test[:10]

     Pclass        Age      Fare  female  male
301       3  29.699118   23.2500       0     1
128       3  29.699118   22.3583       1     0
763       1  36.000000  120.0000       1     0
237       2   8.000000   26.2500       1     0
291       1  19.000000   91.0792       1     0
587       1  60.000000   79.2000       0     1
363       3  35.000000    7.0500       0     1
535       2   7.000000   26.2500       1     0
518       2  36.000000   26.0000       1     0
790       3  29.699118    7.7500       0     1

In [39]:
y_test[:10]

301    1
128    1
763    1
237    1
291    1
587    1
363    0
535    1
518    1
790    0
Name: Survived, dtype: int64

In [41]:
model.predict(X_test[:10])

array([0, 1, 1, 1, 1, 0, 0, 1, 1, 0], dtype=int64)

In [43]:
model.predict_proba(X_test[:10])

array([[9.90704362e-01, 9.29563806e-03],
       [4.61729654e-02, 9.53827035e-01],
       [2.04043081e-04, 9.99795957e-01],
       [1.41400552e-02, 9.85859945e-01],
       [8.80615248e-04, 9.99119385e-01],
       [8.12027960e-01, 1.87972040e-01],
       [9.91306115e-01, 8.69388509e-03],
       [1.37524501e-02, 9.86247550e-01],
       [2.33539004e-02, 9.76646100e-01],
       [9.90815036e-01, 9.18496371e-03]])